{% extends"layout.html.twig" %}

{% block content %}
    Bienvenue sur le site de e-commerce !

    <ul>
    {% for key,quantite in panier.contenu %}
        <li> {{ key }}: {{ quantite }} </li>
    {% endfor %}
    </ul>


    <a href="{{ path('sil14_vitrine_viderPanier') }}">Vider le panier</a>


{% endblock %}